<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

  </head>

  <body>
    <header>
      <div class="header-container">
      <div class="logo-container">
        <a href="index.html" class="logo">
          <!-- <img src="https://via.placeholder.com/40" alt="Craftory Logo"> Craftory -->
          <h2>Craftory</h2>
        </a>
      </div>

      <div class="search-container">
        <input type="text" placeholder="Search products..." id="search" aria-label="Search">
        <ul id="search-results" class="search-results"></ul> <!-- Search results list -->
      </div>

      <div class="nav-container">
        <a href="index.html" class="nav-link">Home</a>
        <a href="products.html" class="nav-link">Products</a>
        <a href="about.html" class="nav-link">About</a>
        <a href="contact.html" class="nav-link">Contact</a>
      </div>
      <!-- Cart -->
      <div class="cart-container">
        <a href="cart.html" class="cart-link">
          <i class="fas fa-shopping-cart cart-icon"></i>
          <span id="cart-count" class="cart-count">0</span> <!-- Cart count -->
        </a>

      </div>
      <div class="login-icon" style="display: none;">
        <a href="login.html">
          <i class="fas fa-user"></i>
        </a>
      </div>
      <!-- Hamburger menu -->
      <div class="hamburger-menu" id="hamburger-menu">
        <span>&#9776;</span>
      </div>
    </div>
    </header>



  </body>

</html>